body { 
	padding-top: 70px; 
	background-color: #70C1B0; 
}

body {
  padding-right: 0 !important;
}

.navbar .navbar-toggle{
	border: none;
}

.filterHeader {
	height: 100vh; 
	/*vh means viewport height*/
	background-color: #e0e0e0;
	width:auto;
	background-size: cover;
	background-position: center;
	background-color: #43B6A1;
	margin-top: -70px;
}

img.indexLogo {
	height: 250px;
	width: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}

.fleurishingCTA {
	font-family: 'andara-script', Arial, sans-serif;
}

.indexText{
	margin-bottom: 30px;
}

.formStretch {
	width: 100%;
}

.filterSearch{
	margin-bottom: 15px;
}

.filterSearchForm {
	border: none;
	border-radius: 3px !important;
	background-color: rgba(255,255,255,.5);
	box-shadow: none;
	transition: none;
	color: #000;
}

.filterbtn{
	border-radius: 3px;
	border: 1px solid rgba(255,255,255,.1);
	background-color: rgba(255,255,255,.5);
	background-image: none;
	text-shadow: none;
	color: #7E7E7E;
}

.filterbtn:hover,
.filterbtn:active,
.filterbtn:focus, 
.filterbtn:active:focus,
.filterbtn:active.focus,
.filterbtn.active:focus {
	background-color: rgba(255,255,255,.7);
	border: 1px solid rgba(255,255,255,.1);
	box-shadow: none;
	border-color: rgba(255,255,255,.1);
	outline: 0px;
}

.filterPanelGroup{
	padding-top: 70px;
}

.filterPanel{
	border: none;
	background-image: none;
	background-repeat: none;
}

.panel-default>.panel-heading {
	border: none;
	background-image: none;
	background-repeat: none;
}

.eventList{
	font-size: 20px;
}

.label-default {
    background-color: #43B6A1;
}


.radioline{
	padding-top: 0px !important;
}

.adminAdd{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.createForm {
	border-radius: 0px;
}

.popup1 {
	display: none;
}

.popup2 {
	display: none;
}

.alert {
	display: none;
}


/*#contactUsForm {
	margin-left: 400px;
	margin-right: 400px;

}*/

#fleurishCenter {
	text-align: center;
}

.getApp {
	background-image: url(img/getApp1.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
	width: auto;
}

.getAppbody {
	background-color: #D69379;
}
